body {
	background-color: white;
	padding: 2rem;
	font-family: 'Raleway', 'Source Sans Pro', 'Arial';
}

.container {
	width: 50%;
	margin: 0;
}

label {
	display: block;
	margin-bottom: 10px;
}

input {
	padding: 10px;
	width: 50%;
	margin-bottom: ;
}

button {
	margin: 2rem 0;
	padding: 1rem 4rem;
	display: block;
}

#instructor {
	padding: 1rem;
	background-color: #fff;
	margin: 1rem 0;
}

